body {
    
    background: lightgray;
    text-align: center;
    

}

#topOfWebPage, #middleOfWebPage #bottomOfWebPage{
    display: flex;
    flex-direction: column;
}

#topOfWebPage {
    width: 100%;
}

#middOfWebPage {
    width: 100%;
}
#top10Container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#bottom10Container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageContainer {
    display: inline-block;
    padding: 2.38%;
    width: 100%;
}
.topTeamLogoImg {
    position: relative;
    top: 9px;
    z-index: 2;
    height: 60px;
    width: 60px;
    background: white;
}
.boxInnerContent {
    position: relative;
    bottom: 100px;
    display: "";
}
.boxInnerContent p {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
   
}
.teamMembers1 {
    display: "";
}
.teamName {
    white-space: nowrap;
}


#bottomOfWebPage {
    width: 100%;
    display: '';
}








#bottomContent {
    display: flex;
    background: white;
    margin-top: 30px;
    position: relative;
}

.bottomContent {
    display: inline-block;   
    margin: auto;    
}

#leftContent {
    width: 20%;
    align-items: left;
    height: 100%;
}

.leftContentItems {
    display: block;
    text-align: left;
}

#middleContent {
    width: 50%;
    margin-top: 0px;
    align-items: middle;
    height: 100%;
    
}


#rightContent {
    width: 20%;
}

#rightContent {
    align-items: right;
}

.rightContentItems {
    text-align: left;
}
